[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-mock = "*"
pytest-cov = "*"
pytest = "*"
mypy = "*"
flask-shell-ipython = "*"
pylint = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
validate-email = "*"
py3dns = "*"
ipython = "*"
openpyxl = "*"
workbook = "*"
flask-cors = "*"
coors = "*"

[requires]
python_version = "3.8"
